

@media (prefers-color-scheme: dark) {
	body {
		background-color: #2A303D;
		color: #D4EEFC;
	}
	a {
		color: #8BBFDF;
	}
	.btn-var-curr {
		background-color: #3B4656;
		cursor: default;
	}
	.btn-var-curr:hover {
		background-color: #3B4656;
	}
	button {
		color: #EEF3F7;
		background-color: #647690;
		border: none;
		cursor: pointer;
	}
	button:hover {
		transition: 0.1s ease;
		background-color: #445062;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #EEF3F7;
		color: #0C0C0C;
	}
	a {
		color: #346681;
	}
	.btn-var-curr {
		background-color: #797D80;
		color: white;
		cursor: default;
	}
	.btn-var-curr:hover {
		background-color: #797D80;
	}
	button {
		color: black;
		background-color: #BBBFC2;
		border: none;
		cursor: pointer;
	}
	button:hover {
		transition: 0.1s ease;
		background-color: #9FA2A5;
	}
}



@media (min-width: 1000px)
{
	.wall-preview {
		margin-left: 1%;
		display: flex;
		align-items: center;
		flex-direction: row;
		padding-bottom: 1%;
	}

	.info-box {
		display: flex;
		flex-direction: column;
		column-gap: 2px;
		padding-left: 1%;

	}
}

@media (max-width: 999px)
{
	img {
		max-width: 100%;
	}

	.wall-preview {
		margin-left: 1%;
		align-items: center;
		flex-direction: column;
		margin: 3%;
	}

	.info-box {
		display: flex;
		flex-direction: column;
		column-gap: 2px;
		padding-left: 1%;
		max-width: 80%;

	}
}
